* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #d4b5b0;
  font: 15px Montserrat, sans-serif;
  color: #383e56;
}
html {
  font-size: 16px;
}

.navbar
{
    font-size: 15px;
    letter-spacing: 2px;
	background-color: #383e56;
}
footer {

   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   
}

.jumbotron{
	background-color: #f3e6e3;
	color: #383e56;
}

.carousel-inner img { 
  width: 40%; 
  margin: auto;
}


/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Sign-up */

input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black; 
}
.signupbtn {
		float: left;
		width: 50%;
		
	}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



